<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title%}{% endblock %} | AQUA</title>

    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html>